[2021-04-06 13:55] wtrocki opened #1 "Create Specification for the project"
What we need is

1. Specification for the CLI resigstry (Sample JSON including versions, binary locations etc.)
2. List of the required features and good haves

[2021-04-06 13:55] wtrocki opened #2 "Create base infrastructure for the project"

[2021-04-06 16:30] ankithans commented on #1
@wtrocki sample specification for the CLI registry
[code]

[2021-04-06 17:14] ankithans commented on #1
Feats:
	- Use a CLI plugin as an extension in some CLI
	- Link multiple CLI's together
	- Registry Manager containing the list and metadata of CLI's
	- Github repo/pages based remote index servers for plugins which will contain docs, metadata of the plugin
	- Framework that will be able to read these remote index servers

[2021-04-06 19:10] wtrocki commented on #1
Pretty much, but also logic for listing and downloading extensions. Logic for executing extensions in host CLI

[2021-04-06 19:16] ankithans commented on #1
okay, I will start with a readme.

[2021-04-07 08:28] wtrocki opened #4 "Create readme covering what project does"

[2021-04-07 08:50] wtrocki opened #5 "Create base structure for the project"
- Initialize go project.
- Create cmd/pkg folder with placeholder CLI's from the https://github.com/aerogear/charmil/pull/3/files
- Create samples folder with sample registry json file

[2021-04-07 09:06] wtrocki commented on #1
@ankithans I have pushed to main branch example registry. If we add more CLIs - Kubectl, and OC (OpenShift) then we can have reliable sample app that we can base on.

[2021-04-07 09:23] ankithans commented on #1
Okay, so we need this type of registry manager. Is it taking releases from GitHub?

[2021-04-07 11:36] wtrocki opened #7 "Provide documentation to show how charmil differs from kubectl plugins"
See: https://github.com/kubernetes-sigs/krew

https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

[2021-04-07 13:43] namit-chandwani commented on #2
@wtrocki Can you please list out the things that are to be done here?

[2021-04-07 14:02] wtrocki commented on #2
already done by @ankithans . You can improve what is on master

[2021-04-07 14:02] #2 closed

[2021-04-07 14:19] #4 closed

[2021-04-08 06:37] #5 closed

[2021-04-08 06:45] wtrocki commented on #1
I cannot assign you both but we really need to work on this for proposal this week to send i. @namit-chandwani @ankithans

[2021-04-08 17:09] ankithans commented on #1
@wtrocki Now ATY what's left here?

[2021-04-08 17:26] namit-chandwani commented on #1
+1
And how should we divide the remaining work among ourselves?

[2021-04-09 02:39] ankithans commented on #1
@wtrocki
shall we use this for Kafka?
[code]

[2021-04-09 05:59] wtrocki commented on #1
That will be good. Yes

[2021-04-09 06:01] #1 closed

[2021-04-12 13:25] wtrocki opened #15 "Review and check suitability of every krew command"
[code]

 Learn about features. List them. Discuss with team What we want to support/what is later phase etc.

[2021-04-12 13:28] wtrocki opened #16 "Research krew index - it's structure and format"
Check https://github.com/kubernetes-sigs/krew-index.git

Format of the index. How it is being read and processed. How package upgrades are done (index updates)

[2021-04-12 13:29] wtrocki opened #17 "Reserach how to reuse krew implementation"
Krew has a lot  of really good code that handle our cases. We need to research possible options to reuse some of the code/or inspire on krew without breaching license model or do any shady work.

[2021-04-12 13:32] wtrocki opened #18 "Reasearch how we can create library of cobra commands"
Cobra on it's own provides top level frameworks for making commands.
Making SDK for Cobra is not documented and requires some POC to be done

[2021-04-12 13:34] wtrocki commented on #7
After investigation I see that we will be more generic version of krew that developers can install into their CLI (rather than this being available as part of the separate CLI).

Charmil will be also generic (as krew is specific to kubernetes ecosystem).
Challenges for that will be authentication models and other factors that we will need to cather.

I do think that we actually need some long runn

[2021-04-12 13:35] wtrocki commented on #7
Let's discuss if that models is clear or if you have any questions before we close this

[2021-04-12 13:40] ankithans commented on #7
charmil will be specific to kafka and knative?
model is like clear, as that of now

[2021-04-12 13:54] ankithans commented on #15
let me take this, I have initially gone through them.

[2021-04-12 13:58] wtrocki commented on #15
We need some form of the documentation that will be adjusted. I would prefer to have markdown based document or google doc -> whatever works for you

[2021-04-12 14:00] ankithans commented on #15
md is great

[2021-04-12 14:11] wtrocki commented on #15
So keep in mind that target here is not to document their CLI. It is to evaluate their CLI commands and provide info if we would like to adopt this command.

What we are doing is basically specification for our commands influenced by theirs ;D

[2021-04-12 16:02] namit-chandwani commented on #16
I had gone through this repo yesterday. Will work on this

[2021-04-12 16:16] namit-chandwani commented on #7
Yes, it's clear

[2021-04-12 16:28] #7 closed

[2021-04-13 11:23] wtrocki opened #20 "Properly clarify personals used in Charmil"
Clarify what personas we going to cover - SDK user and CLI end user in the documentation.
Really important as it is not clear what charmil is :D

[2021-04-13 11:25] wtrocki commented on #18
This seems to be core of all POC - we need to prove that we would be able to use commands as SDK.
I have done some experiments with handlers.
Expected result would be to have sample command used in example CLI (charmil it is current name I think)

[2021-04-15 22:16] namit-chandwani commented on #16
@wtrocki Here's my research:

## Structure of Index

Krew's plugin index is hosted on a different repo, ie. outside its main project repo.
The repo consists of some documentation and a folder named `plugins` that stores the metadata of each plugin in separate YAML files.

## Format of manifest files
[code]

## How the index is being read and processed

To understand this, let's take an example of

[2021-04-15 23:08] wtrocki commented on #16
World class job @namit-chandwani

[2021-04-16 11:35] wtrocki commented on #16
@namit-chandwani this is really good start for us to have discussion if we take this index or try to adapt it.
I would expect you to think if we want our index working the same for SDK and then draft short list of elements that hopefully could lead to creation of couple issues. Index on it's own is complex enough that it can be separate from entire SDK and other elements that @ankithans is working

[2021-04-16 16:09] namit-chandwani commented on #16
Sure, will work on this.

Done

[2021-04-27 13:30] dimakis opened #23 "'asdf' project comparisons and differences"
Hey all.

I was looking into the aerogear/charmil project over the last couple of days to get a sense of what's going on. It reminds me a lot of the 'asdf' project. Do any of ye know of it?

--github
https://github.com/asdf-vm/asdf

-- list of all plugins currently available
https://asdf-vm.com/#/plugins-all

Is it vastly different? I know it'll be written in GoLang as opposed to shell but I'm won

[2021-04-27 13:45] wtrocki commented on #23
This is another great project to look at for inspiration.
My take is that this project deals with distribution and versioning, but since it is written in bash we cannot reuse it much (as we are doing golang). My take is to have diversity and study as much of version managers that offer kind of plugin support.

However our take would be to deliver something more framework/low level integration spec

[2021-04-27 16:29] ankithans commented on #23
commands are quite similar to [krew](https://github.com/kubernetes-sigs/krew/)   some more cmds are there in [asdf cmds](https://github.com/asdf-vm/asdf/blob/master/help.txt)
They have diff structure for [plugin-index](https://github.com/asdf-vm/asdf-plugins) (only consists of plugin's repo URL).

I found one more
[Jfrog](https://www.jfrog.com/confluence/display/CLI/JFrog+CLI#JFrogCLI-InstallingPl

[2021-04-27 16:36] wtrocki commented on #23
yes this is way to simple, comparing to krew which is advanced. For POC we probably want to stay somewhere between - allow versioning in schema, but do not implement advanced handling etc.

[2021-05-04 08:57] ankithans commented on #18
This needs to be done first, after that all work will start. I want some help here to start.
I think this might help us here https://github.com/replicatedhq/krew-plugin-template

[2021-05-04 09:17] wtrocki commented on #18
+100

[2021-05-05 05:20] namit-chandwani commented on #20
What I understood by going through the discussions is that Charmil differs from Krew in the following ways:

|   -	|   **Krew**	|   **Charmil**	|
|:-:	|:-:	|---	|
|   _Role of the developer:_	|   To develop a CLI and publish it	|   To link different CLIs to their own CLI and then publish the final CLI	|
|   _Role of the end-user:_	|   To link different available CLIs and use them	|   To directly u

[2021-05-06 06:35] wtrocki commented on #20
All correct. We can close issue

[2021-05-06 06:37] #20 closed

[2021-05-06 07:57] namit-chandwani commented on #20
@wtrocki Cool. So should I place this in a doc in the `working-group` directory for future reference?

[2021-05-06 09:52] wtrocki commented on #20
Good plan!

[2021-05-11 11:24] ankithans commented on #18
@wtrocki Can you check this out https://github.com/ankithans/mysdk
If this is what we want to achieve?
I have created the `sample` command in SDK and used it in the CLI

[2021-05-11 11:39] wtrocki commented on #18
Sure. Will do in couple hours.

[2021-05-11 20:27] ankithans commented on #18
yup, I was just trying things out. will create a PR tomorrow according to the project structure.

[2021-05-12 10:57] ankithans commented on #17
These seems to be the ways to reuse the krew implementation:
1. use krew as package sigs.k8s.io/krew
   - code we require to import is in internal directory, but here https://golang.org/doc/go1.4#internalpackages
   - it is written here `Sometimes one wishes to have components that are not exported, for instance to avoid acquiring clients of interfaces to code that is part of a public repository b

[2021-05-19 06:29] ankithans opened #26 "Charmil Roadmap"
We need to discuss, what will be the SDK doing exactly and list of features, to proceed further.

[2021-05-19 08:15] wtrocki commented on #26
Sure. It is better to just have some base code first to leave groundwork on the discussion.
Alternatively, we can draft some ideas here.
I think we touchdown on how SDK will work but my take is that we simply need to define core feature.
Krew is actually complex system if you think about it and with your level of golang it will be hard to move to that so fast.

My suggestion is to start simple. Ac

[2021-05-19 08:29] ankithans commented on #26
okay got your point. Will start working on it today 👍

[2021-05-24 07:11] ankithans commented on #26
I have tried and embedding works, I created sample CLI's, installed binary and combined them (played a lot with them).
With the help of above POC.

[2021-05-28 13:40] wtrocki commented on #15
we past this phase

[2021-05-28 13:52] wtrocki commented on #16
Amazing work. After reading spec and getting familliar with what they have it feels like index will be to large piece to start now. Lets keep things simple for now.

[2021-05-28 13:52] #16 closed

[2021-05-28 13:53] wtrocki commented on #17
learned a lot from krew we can now avoid cloning their code and start with embedded approach

[2021-05-28 13:53] #17 closed

[2021-05-28 13:56] wtrocki commented on #23
Great to have this link. We diverged from this now towards having embedded library. Closing

[2021-05-28 13:56] #23 closed

[2021-05-28 13:59] wtrocki commented on #26
We can provide more opiniated layer for CLI by enforcing:

- Configuration
- Logging and printing messages
- Error handling and validation
- Internationalization
- Security (Authorization) - I need to think about this

[2021-05-28 14:38] wtrocki commented on #18
I somehow think that you know how to do it..I started more detailed discussion on #26 so we can close this one

[2021-05-28 14:38] #18 closed

[2021-05-28 15:43] namit-chandwani commented on #26
@wtrocki Very well summarized 👏
I agree with Ankit, especially on the clarity front. This appropriately depicts where we are today and how much we have to accomplish over this summer.

We'll start working now while keeping this roadmap in mind.

[2021-05-28 19:51] wtrocki commented on #26
Love your confidence!
So we have two spikes for doing core - no coincidence here ;) Pick one and create issue for deep dive discussion and implementation.

[2021-05-29 13:27] namit-chandwani commented on #26
I talked to @ankithans, he wants to go with the 2nd approach (wrapper). So I'll take the first one and create an issue on it as mentioned.

[2021-05-29 17:36] wtrocki commented on #26
Great job! Lets move all discussions to other issues so we will keep this one dedicated to roadmap.

[Offtopic]
@namit-chandwani in AeroGear and GSOC  we tend to keep all conversations in the open channels. Lets use Charmil discord even for more casual discussions. I understand that Github issues might be to noisy. Lets avoid PM's etc.

[2021-05-29 17:41] namit-chandwani commented on #26
Yes, that was wrong on our part. Won't happen again for sure.
Will use the Charmil discord channel for all our future discussions :)

[2021-05-30 12:14] ankithans opened #29 "Charmil as wrapper for cobra"
# Wrapper POC
Provide wrapper structure without any strong dependency on Cobra. Plugin Core based of those structures build cobra command.

## Architecture & Working
1. An Host CLI in which commands need to be embedded
2. A Minimal YAML file defining the commands of the plugin CLI.
[code]
3. Plugin Structure to extract the plugin commands, args, flags etc. defined in YAML file
4. Plugin Loader to

[2021-05-31 07:09] wtrocki commented on #29
not sure how YAML file will work with arguments or validators. Argument definition is typically linked to some structure for example:

https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/cluster/connect/connect.go#L58

Also introducing yaml format at this phase seems excessive. We can define structure and as bonus make it redable and writable as yaml/json later.
Challenge here i

[2021-05-31 07:19] wtrocki commented on #29
I think we need to reduce scope here as I see lots of bonuses like yaml or support for non golang executables (which surely can be implemented later)
Core for this poc is to build and validate feasibility of wrapper around crazy amount of cobra options without limiting plugin creators.

[2021-05-31 10:43] ankithans commented on #29
Here is the basic command structure, generally command will posess these options! I need to research more by deep diving into cobra command structure, for including/excluding more options.

[code]

Okay so let's consider `yarn` which made in javascript. For this POC we just need the CLI (in this case yarn) to be installed (or executable binary). And we can create a cobra command by mapping the act

[2021-05-31 10:56] wtrocki commented on #29
Sure. It is clear that wrapper makes that possible. Not sure if we should just talk about this at this phase :D

Overall great work!

[2021-05-31 15:34] #29 closed

[2021-05-31 15:39] #26 closed

[2021-06-02 16:37] ankithans opened #38 "Properties of cobra commands to expose"
Ignored Run, Usage and other functions as exposing functions doesn't make sense for wrapper approach

### Already Exposing
- `Use string`
- `Short string`
- `Example string`
- `Args PositionalArgs`

### Can be Exposed

- `Aliases []string` (Aliases is an array of aliases that can be used instead of the first word in Use)
- `SuggestFor []string` (similar to aliases but only suggests)
- `Long string

[2021-06-02 17:37] wtrocki commented on #38
So you telling me that wrapper approach will not allow validation.  Eg: https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/kafka/topic/describe/describe.go#L56

[2021-06-02 17:39] wtrocki commented on #38
Sounds good. Although not needed to be implemented right now for POC we needed to see list of commands

[2021-06-02 17:51] ankithans commented on #38
like I was saying we can implement validation while creating cobra command, but no need to get that validation function from the user. We can create that func while creating command based on other properties that we have exposed.

means a full plugin/CLI working for POC?

[2021-06-02 22:04] wtrocki commented on #38
I meant that while this is great research lets keep poc simple. No need to add all of those now.

[2021-06-03 10:23] #38 closed

[2021-06-05 12:24] ankithans opened #41 "Can't wrap flags in wapper-poc"
related to #37

https://github.com/aerogear/charmil/blob/wrapper-poc/pkg/pluginloader/loader.go#L43
Here we are creating the flags for the new cobra command that we create
But the flags are not actually being mapped to the CLI (plugin's binary)

[2021-06-05 17:09] wtrocki commented on #41
It cannot be bug if it is not on main :)

In my mind we do not poc binary plugins (yet) and mapping flags is important to figure out generally.

[2021-06-05 18:53] ankithans commented on #41
okay 😅

I am trying to figure it out, will work on it tomorrow again

[2021-06-06 06:48] wtrocki commented on #41
Every investigation need notes. Do ones in markdown and attach to PR or commit. Creating issues for work in progress can lead to some confusion later

[2021-06-06 06:48] #41 closed

[2021-06-15 12:59] ankithans opened #50 "Add internationalization support(i18n) in commands"
## Feature Description
Support multiple languages for the CLI commands, subcommands, flags, logging etc.

## Proposed Solution
- create package for localization in `charmil-core` and add it to factory
- plugin developer use factory to localize everything and provide locals for the languages to be supported

## Additional Context
good examples to refer:
https://github.com/redhat-developer/app-servi

[2021-06-15 13:25] ankithans opened #51 "Add methods for unified logging in commands"
## Feature Description
Following methods can be added to ensure the logging and printing messages in unified way
Debug, Info, Warn, Error, Fatal, Panic, Trace, etc. using `fmt.Fprint()`, `fmt.Fprintf()`, `fmt.Fprintln()` functions

[2021-06-16 07:09] ankithans commented on #51
we can provide colors for different types of logs, if that is useful @aerogear/charmil-core

[2021-06-16 07:55] wtrocki commented on #51
That is distraction. Lets work on the core business.

[2021-06-17 13:54] wtrocki opened #53 "Setup CI/CD to the repository"
For examples see: https://github.com/redhat-developer/app-services-sdk-go
makefile should define steps

[2021-06-17 13:55] wtrocki opened #54 "Add contributing guide to the repository explaining folder structure"
Some basic commands and information how to start with project.

[2021-06-17 13:55] wtrocki opened #55 "Provide getting started guide"
Since project has single feature we want to try out how users can use it with this single feature.
Getting started guide needs to be created that will be extended with each feature.

[2021-06-17 14:04] wtrocki opened #58 "Validator to ensure standard for commands"
So we removed the wrapper approach as a feasible way to drive our architecture, but despite not having it
we still want to control some of the aspects of the commands.

My take is that for this purpose we could have a linter/validator solution where we can specify different rules that will be interacting thru cobra commands and see if they are valid etc. We will provide default recommendations/rul

[2021-06-17 14:25] wtrocki commented on #58
We need resarch first:

1) If something like this is not actually available right now
2) if we want to write validator ourselves or use existing linting solution like: https://github.com/golangci/golangci-lint - not sure if that would even allow us to do what we want.

3) Discuss examples of rules we want to apply:

Example: Each command should have long and short description and example.

[2021-06-17 15:08] wtrocki opened #62 "Setup github pages for the project based on the docs/markdown projects"
No need for website (but can be added if needed)

[2021-06-17 15:30] wtrocki opened #64 "Draw project logo"
Inspiration:

https://www.google.com/search?q=charming%20cobra&tbm=isch&hl=en&tbs=itp:clipart&rlz=1C5CHFA_enIE848IE848&sa=X&ved=0CAIQpwVqFwoTCNDo65j-nvECFQAAAAAdAAAAABAC&biw=1905&bih=921

[2021-06-17 15:33] wtrocki opened #65 "Write blog post introducing charmil and it's motivation"
As for help. Provide blog post as part of the PR (can be merged to docs or website - if one will be available).
Medium/dev.too can work as well

[2021-06-17 16:06] wtrocki opened #66 "Provide POC on how charmil can be integrated using case study respositores"
Use charmil with the example CLIs

Repository:
https://github.com/aerogear/charmil-plugin-example
https://github.com/aerogear/charmil-host-example

[2021-06-17 16:10] wtrocki opened #67 "[Wrapper] Rapid Creation of CRUD command line tools."
In some situations developers can avoid a lots of boilerplate if we enable them to have

Imagine that you have CLI like RHOAS CLI - where there will be multiple services performing typical crud operations:

[code]

Adding new service usually means duplication of the commands, error handling etc.
We should research if we can provide some clever plugin (still using charmil core factory)

[2021-06-17 19:59] ankithans opened #68 "Standard for arguments passed to command"
Cobra contains some built-in argument validation functions. info - [https://pkg.go.dev/github.com/spf13/cobra#readme-positional-and-custom-arguments](https://pkg.go.dev/github.com/spf13/cobra#readme-positional-and-custom-arguments)

Because cobra has the option of providing custom arguments, we can provide some custom validators that can be in general used by plugins in addition to what cobra prov

[2021-06-17 20:52] ankithans opened #69 "Configuration storage and abstraction for plugin"
For a clean default configuration, yaml files can be used. [viper](https://github.com/spf13/viper) might be useful here which is used by cobra as well!

[2021-06-17 20:54] wtrocki commented on #69
Ther the is no such thing as default configuration.
Basically plugin commandline can exist on it's own and have their own config.
If we include that in host CLI we ending up with 2 configs - not good.

We need to have a way to compose config and share some common parts.
This is blocked by figuring out authentication to the CLI etc.

[2021-06-17 20:55] wtrocki opened #70 "Investigate shared authentication between host and plugins"
How plugins can donate authentication and how host can authenticate all plugins if needed.

[2021-06-18 07:22] wtrocki commented on #67
See kubernetes CLI for inspiration

[2021-06-18 08:53] namit-chandwani opened #71 "Investigate ways to store Secrets in config (eg. OAuth token)"
Secrets are sensitive data that should be stored safely with strict access controls. API keys, encryption keys, OAuth tokens, certificates, PEM files, passwords, and passphrases are some examples of secrets. These might easily get exposed and compromised if not stored in an encrypted and secure way.

Through this issue, we aim to investigate ways in which we can store Secrets securely.

[2021-06-18 09:20] wtrocki commented on #71
We need find lib that does this.
Issue has Low priority for now

[2021-06-18 09:36] namit-chandwani opened #72 "Provide feature flags to enable specific plugins"
Generally, feature flags allow us to activate or deactivate specific features of our application.
In our case, we'll be allowing the SDK users to use feature flags to activate certain plugins.

This requires further investigation and discussion before starting out.

[2021-06-18 09:48] wtrocki commented on #72
In rhoas we have something like this:
[code]

[2021-06-18 10:01] ankithans opened #73 "Ability to use plugins without compiling them into root CLI"
The ability to run the CLI plugin with the binary, can be done by keeping the registry for supported plugins
#37 provides somewhat fair example to this

[2021-06-18 10:03] wtrocki commented on #73
Note that this is not full blown registry - just code to call binary that is either:

- installed in the system
- documented to be installed and failover if not

Copying exact comment as link brings us to the entire PR:

[code]

[2021-06-18 10:28] namit-chandwani opened #76 "Provide a way of mapping OpenAPI specification files to SDKs"
Not sure about the exact requirements of the issue. Will do some research and update accordingly

[2021-06-18 10:33] wtrocki commented on #76
Closing this one. Initially I was thinking that we can do something like kubectl - but that is actually requiring us to have backend with resource support that we can control. This is some internal requirement but doesn't make sense in community

[2021-06-18 10:33] #76 closed

[2021-06-18 11:54] ankithans opened #77 "Standardization of help topics"
building examples in help, build and describe flags and actions
how positional arguments are defined

don't have much info on this for now

[2021-06-18 11:56] ankithans opened #78 "Dependency of plugins on other plugins"
Plugins can be dependent on some plugin and they can reuse the code

[2021-06-18 12:03] wtrocki commented on #78
This is very unrefined requirement to even start with.

Idea was based on previous architecture that I had in mind. To transform things to new architecture.

Imagine that factory provides number of abstractions and technically you can swap them if need.
I do not think we ready to even discuss this issue. Ok to close

[2021-06-18 12:04] wtrocki commented on #77
Please check issues I have created before :)
This will be solved by the validator and linter. See #58

[2021-06-18 12:04] #77 closed

[2021-06-18 12:06] ankithans commented on #78
Okay let's close this for now!

[2021-06-18 12:06] #78 closed

[2021-06-21 09:50] wtrocki commented on #58
@ankithans Check comment above. I would love to get your replies to it :)

[2021-06-21 11:41] ankithans commented on #58
as you already mentioned some of the rules, copying them here
- Command has examples
- Short and Long description
- Each argument has a description
- Command has long and short description defined
- Command uses single positional argument (no multiple positional arguments) etc.

more
- Command has a Run function
- Defined number of arguments in command

For now couldn't think more useful

We can u

[2021-06-21 11:49] wtrocki commented on #58
if there is a possibility that we could extend the functions from cobra library not wrapping

What you mean by this. More detailed question

[2021-06-21 11:59] ankithans commented on #58
In dart there is a feature to extend the library - modify, overriding existing methods

[2021-06-21 13:24] wtrocki commented on #58
Sill no clue..
Done quick research and we can do:

1) Ast processor (go has core lib that enables and most of linters use it). It will work at compile time etc.

Benefits: It will be easy to make this popular, blog post it etc.

Drawbacks: Overkill for our needs, harder to add new rules

2) In house cobra structure analiser with rules.
It can be cli on its own that needs to be compiled and will pr

[2021-06-21 13:40] ankithans commented on #58
first one is clear enough.
not sure how 2nd one will work. Will it be based upon cobra library or AST processor?

[2021-06-22 10:10] #50 closed

[2021-06-22 10:10] #51 closed

[2021-06-25 13:34] ankithans opened #84 "Regex validation for command name"
useMatches that accept valid regexp that checks command name
Provide rule that validates if cmd doesn;t have _ or - etc.

related to #58

[2021-06-25 13:37] ankithans opened #85 "Arguments validators in cobra command"
Arguments validators - provide global arguments that should not be redefined

related to #58

[2021-06-26 07:33] ankithans opened #86 "Config with array of commands during validation"
provide config with array of commands to skip/ignore validation

[2021-06-27 12:54] ankithans opened #88 "Enhance logger for verbose logging"
stdnerr should be used for debug to get meaningful info (likrnjson) into std out.

[2021-06-27 13:00] ankithans opened #89 "Validation: RuleExecutor for the rules"
Rules are doing a lot of responsibility. Ideally rules should do only rule validation. We should put all common elements into some ruleExecutor etc.

[2021-06-27 14:12] wtrocki commented on #88
I have context for this issue but without it I will be hard to get what you mean.

Best to put example code. How it is now and how it should be

[2021-06-27 14:28] ankithans commented on #88
Now we pass a `Sprintf` statement in ValidationError, but this should not be used for debugging purposes.
[code]
To solve this issue we can add some more functionalities in logger and use that entirely!

[2021-06-27 14:38] wtrocki commented on #88
Actually this is about using std.err instead of std.in in fmt.Print and other functions.

[2021-06-27 21:21] jackdelahunt commented on #89
Hey @ankithans I just wanted to ask for more clarity on this, can you describe/show what we are you doing now that you want to solve and just a small description of how you think this could be done. I am just not sure what you are talking about with this issue.

[2021-06-27 21:48] jackdelahunt commented on #89
After looking more in depth into #82 I think I might understand what you mean here. Is what you are proposing is to move the execution of the rule into `RuleExecutor` and keep the rule with the fields the user creates and a callback the `RuleExecutor` calls.
[code]

[2021-06-28 05:57] ankithans commented on #89
yes, exactly.. we can reuse the part of execution of rules. As execution is same for all. I am not sure how to approach. But we can do some hands on and figure it out.

[2021-06-28 08:33] wtrocki commented on #89
#82 - has some proposed API.
https://github.com/aerogear/charmil/discussions/61 - does describe how we should be doing work in next PR's.

I think it will be better to do something like:
[code]

[2021-06-28 09:09] ankithans commented on #89
So now in #82 we have execution for each rule separately, but in this issue, we want to execute all the rules at once..

[2021-06-28 09:14] wtrocki commented on #89
@ankithans not all. Take look how usually linters work - eslint, golangci lint. This is required work to start writing linter :)

I will TL:DR to you:

- Linters initialize all rules by default but they are driven by config - can be enabled, reconfigured or adjusted severity level - error, warn, ignore etc.
- Linter executes rules by checking config and executing rules based on the configs.
- It i

[2021-06-28 09:55] jackdelahunt commented on #89
So from what I understand we will have one config per rule you want to use. You then configure how the rule works like adding string to the fields for the `mustExists` rule. Then running the rule executor below it runs all rules assigned to that commands as defined in the config files.
[code]

[2021-06-28 10:09] wtrocki commented on #89
Do you mean cobra command? Cobra commands are processed by the same rules and config.
We could add way to disable some command processing - issue here https://github.com/aerogear/charmil/issues/86

In flow commands are passive. Is is rules that process commands.
Look at this 1 min diagram:
[code]

[2021-06-28 10:19] jackdelahunt commented on #89
Okay I think I understand this more now. I am just curious to see how the config for the rules will look like now.

[2021-06-28 10:31] wtrocki commented on #89
@jackdelahunt Those things are standard and we should really follow what other linters do.
Example: https://eslint.org/docs/user-guide/configuring/

The difference for us is that we might not need yaml/json for now - golang struct will do as well

[2021-06-28 12:45] ankithans commented on #89
I have tried things

Created `RuleConfig` struct for configuration of rules
[code]
## User API

[code]
or
[code]

[2021-06-28 13:25] jackdelahunt commented on #89
I rather the use of a go struct for this, yaml or json for me seems unnecessary currently.

Also I think a default of enabled here is probably better, when adding a rule to a rule config you expect it to be enabled unless you specify otherwise.

Also the hard coding of the rules into the rule config struct seems like we could run into issues with the implementation of how we execute the rules. I s

[2021-06-28 13:37] ankithans commented on #89
So here do you mean accept []string of rules?

yep user should be able to override the properties of rule, as we provide some default settings. But user might want to change them.

[2021-06-28 13:42] jackdelahunt commented on #89
Here I meant accepting an array of structs that comply to the rule interface.

Hmm okay I thought that we would just let the user add the rules we provide to their own rule config as they want and make overriding changes at that point.

[2021-06-28 13:55] wtrocki commented on #89
I think we have two core issues here:

1) Our rule structures that are implementations are used also as configs - If we separate them then all rules can be initialized and later we can do processing based on config

2)

Exactly. Minimize input from user - meaning that we should have default config and merge it with user config.
Default config should have all rules enabled with some default (less r

[2021-06-28 14:45] jackdelahunt commented on #89
Okay so just thinking about this more and I think this is what we could use. The API implementation I wrote is probably not what we want but just something to suggest.

User created config file in json or yaml
[code]
Then our api can provide a default config, load they own config or apply the custom one to the default overriding the rules based on the `name` field.
[code]

[2021-06-28 14:59] wtrocki commented on #89
That will work well when linter will be CLI. Not so well when linter is done as part of unit tests. We are still waiting for @ankithans for this secret info how this linter will be used. So far we have been mentioning unit test and CLI but nothing formal presented yet.

Yes. Pretty standard, however actual code will be more close to this:
https://stackoverflow.com/questions/47395430/merge-fields-t

[2021-06-28 17:01] ankithans commented on #89
nice, we can do this!

I have tried doing unit tests, validator works well as unit tests. I will provide the code for that in #82
[noob question] how will we provide cobra command from a file to the CLI we make. Read the file?

[2021-06-28 17:09] wtrocki commented on #89
Best news! Lets create follow up issue for CLI.
For tests we can also provide more friendly method names

[2021-06-28 17:21] ankithans opened #90 "Use command validator as CLI"
Currently we are using validator as Unit test framework. While writing tests for a cobra command, `ExecuteRules` function can be executed which will return a slice of `ValidationErrors`.
But as most of the users will prefer a CLI tool for this, there will some significant changes to be made in validator API, which are yet to be explored!

All the `RuleConfig` can be loaded from a json/yaml file in

[2021-06-28 18:34] jackdelahunt commented on #90
Can you layout the issue a bit more here. I think I know what you mean but I am not sure.

How I see the commands validator as a cli is you build with all the commands you want to add and the rules you setup with a config file. Then from that build we run `charmil validate` or something like that. This then runs each rule as defined by us or by the config file on each commanded added.

[2021-06-28 21:22] wtrocki commented on #90
Thank you @jackdelahunt for keeping eye on issues and validation. This is hugely benefitial for students and brings diversity.

This is 100% correct with what I was thinking.
We both know that this will require more work/steps comparing to unit tests approach.

[2021-06-29 07:22] ankithans commented on #90
updated, thanks for pointing out!

okay, we can use binary of a CLI(which we want to validate), and pass that binary into `charmil validator CLI`. Then how we will access the attributes of cobra.Command to validate(like Use, Short etc). Binary will only allow use to use the CLI.
or I am taking `build` in wrong sense?

[2021-06-29 07:48] wtrocki commented on #90
We will need to compile our code + cobra commands into executable, but maybe there is some golang trick to build tool that does something at compile time (probably not)

[2021-06-29 08:43] wtrocki opened #92 "Change folder from pkg to core"

[2021-06-29 08:55] wtrocki opened #93 "CI/CD support for validator"
Run tests and compile binary with PR

[2021-06-29 09:02] wtrocki opened #94 "Write test for Validator"
We should at least check if no errors are returned.
We can also print out some info etc.
This test should be passing as we going to use it for CI/CD #93

_Originally posted by @wtrocki in https://github.com/aerogear/charmil/pull/82#discussion_r660420562_

[2021-06-29 09:34] #58 closed

[2021-06-29 09:34] #89 closed

[2021-06-29 10:10] ankithans opened #95 "Duplicate errors on running validator"
## Description
Running Validator package on rhoas CLI as unit test doesn't give desired output. The errors are duplicated and all the descendant commands are not traversed.

### Steps to reproduce
Run this validator in a unit test in rhoas CLI
I copied the code for validator package in rhoas

### Expected vs actual behaviour
Duplicate errors are arising, and all the subcommands are not traversed

[2021-06-29 10:15] wtrocki commented on #95
This was expected so no stress.
Create PR for rhoas  and work on fixing issue while updating rhoas PR as well

[2021-06-29 10:18] ankithans commented on #95
yep 👍

May be other Subcommands following our rules 😀. I will check it!

[2021-06-29 11:34] jackdelahunt commented on #90
@wtrocki and @ankithans is it okay if I tackle this issue? If this was expected to be done by the students that I am okay to leave it to them.

[2021-06-29 11:37] wtrocki commented on #90
@jackdelahunt I admire your passion. This is very good issue to take by anyone because:

- it is not on critical path
- is requires extensive research and non trivial approaches
- When done it will probably invalidate our current unit test approach which is strange
- It will allow us to do rules as yaml/json

Note is that we adjusted our validator approach towards simplicity and implementation spe

[2021-06-29 12:16] jackdelahunt commented on #90
Have we discussed how we want to introduce charmil commands anywhere this could be an interesting topic that could help clearing up what needs to be done with this issue.

[2021-06-29 12:24] ankithans commented on #90
I think we have discussed about the commands previously #19 , but that is too outdated and will be useless for this issue in my opinion.

[2021-06-29 12:52] jackdelahunt commented on #90
My main sticking point with this ticket is that we do not have any way to serperate host commands and custom commands. This is a 2 minute diagram of what I am thinking please tear it to pieces.

[code]

[2021-06-29 12:58] ankithans commented on #90
What is host here?
Is it from the examples directory? if yes then to clear this, host is nothing and don't contribute to the charmil core.
It's just an example to show how charmil can be used

[2021-06-29 13:02] jackdelahunt commented on #90
Host is the project that is using charmil, so in our project host would add a new command called date to there index etc. etc.

[2021-06-29 13:35] jackdelahunt commented on #90
Well I wasn't thinking the host as binaries but we capture the input and wither point it to the host commands or the charmil commands. This can be done in one binary the host builds to.

[2021-06-29 13:42] ankithans commented on #90
okay, got your point, that will be epic. Sorry for taking too long to understand 😅. I had just a simple CLI in mind, separate from host.

[2021-06-29 13:47] jackdelahunt commented on #90
I think before we do anything we should probably have some architecture diagram of what we actually want. So we can all be in sync because I agree that sometimes it is hard to figure what other people are talking about. Well I guess that could be the first commit the documentation!!

[2021-06-29 15:43] jackdelahunt commented on #90
@ankithans so I made a WIP pr relating to this diagram I suggested, this is how I think adding charmil commands along side host defined ones can work but as always please scrutinise. cc @wtrocki

[2021-06-30 10:13] ankithans commented on #95
output from rhoas after fixing.

[code]

[2021-06-30 10:16] #95 closed

[2021-06-30 10:31] ankithans opened #98 "Rule methods should implement interface"
To make it easy for adding more custom rules to validator, rules methods should implement an interface.
we should have the same interface and the same function. Without that there will be no way to add rule to validator. This two methods should be the same method

### Currently
lengthRule implements - `validateLength`
MustExistRule implements - `validateMustExist`

[2021-06-30 10:52] wtrocki commented on #95
CREATE PR IN RHOAS :)

[2021-06-30 10:58] wtrocki commented on #98
and they should be just `validate`

[2021-06-30 12:10] wtrocki opened #99 "[Rule"
Provide rule that validates if cmd doesn;t have _ or - etc. Option should be regexp that will be used to validate command

[2021-06-30 12:43] jackdelahunt commented on #90
@ankithans Do we have any idea on how we want to handle stdin and how we parse that into what command we want to run. Or are we leaving this up to the host app to figure out.

[2021-06-30 12:48] ankithans commented on #90
Actually cobra handles it automatically, when we declare `Use` in cobra.Command, it will detect the command name and run it(if the command has a Run/RunE func - then it runs that || otherwise it runs as help command showing Use, Short, Long etc)

[2021-06-30 12:54] jackdelahunt commented on #90
Okay that makes sense but the stage leading up to this, getting input from the console and then letting cobra figure out which command to run based on use.

[2021-06-30 13:08] ankithans commented on #99
same as #84 ?

[2021-06-30 13:14] ankithans commented on #90
cobra can do this for us...

[2021-06-30 13:41] jackdelahunt commented on #90
Okay

How I described we take the input and find out which provider it uses and run that command, cobra has no idea what a charmil command is vs a host command; and making the host have to add charmil commands to their root command would be bad no?

[2021-06-30 13:54] ankithans commented on #90
Okay imo there are two options
1. consider it as 2 CLI's host & charmil. So charmil will provide validate command which can be used as `charmil validate ...`. Here host and charmil CLI don't interfere with each other.

2. charmil CLI as plugin for the host(subcommand). this way we will be able to provide the `root command` of host for validation very easily. And command will be like `host charmil

[2021-06-30 13:59] #99 closed

[2021-06-30 14:05] jackdelahunt commented on #90
Okay option 2 is obviously easy to setup. But without anything other input we would require the host to add the charmil commands as a subcommand right?

[2021-06-30 14:10] ankithans commented on #90
Yes, this will be required as charmil becomes a plugin here.
[code]
Here we can pass the root to validator very easily, if we have any alternative solution to this?

[2021-06-30 14:11] wtrocki commented on #90
This is widely impractical because you going to add command to the cli you do not want to have in production - this is only dev time thing

[2021-06-30 14:17] ankithans commented on #90
Npm supports dev packages, can we have something like that in plugins here #72

[2021-06-30 14:37] jackdelahunt commented on #90
Is the `--dev-preview-command` not in production aswell though but just cornered off.
But maybe you are expecting use to disable this flag in prod.

[2021-06-30 14:50] wtrocki commented on #90
Dev preview command is to not show commands that are still in QA. This has nothing to do with commands that are used to aid development (typically you do not want anything like that in your CLI)

[2021-06-30 17:37] #92 closed

[2021-06-30 17:37] #94 closed

[2021-07-01 06:36] ankithans commented on #84
what seems most obvious from below two? We take input of regexp from the user(set the default exp until the user overrides)
- Use should match the given regexp
- Use shouldn't match this given regexp

And this rule should only check `Use` of cobra.Command, checking other attributes with regex will not be useful

[2021-07-01 07:09] wtrocki commented on #84
Use should match the given regexp - this

[2021-07-01 07:15] #53 closed

[2021-07-01 07:15] #93 closed

[2021-07-01 07:15] #98 closed

[2021-07-01 08:57] ankithans opened #104 "Cannot override default rules"
## Description
[Priority High] Rules cannot be overridden using RuleConfig. Below code uses default config only.
[code]

[2021-07-01 19:00] wtrocki opened #107 "README.md in docs with introduction"
We need readme that provides introduction to features.

[2021-07-01 19:31] ankithans opened #109 "Provide starter application for Plugins and host"
Provide examples using charmil core that can be directly copy pasted by the user with much less hassle in editing. Avoid generic examples such as date, calculator etc.

[2021-07-01 20:26] wtrocki commented on #109
Those are called quickstarts or starters.

[2021-07-02 08:23] ankithans opened #110 "Refactor RuleConfig to accept slice of RuleInterface"
Instead of hardcoding every rule in RuleConfig, accept the array of RulesInterface that is implemented by every rule.
#### currently
[code]
#### What we want
[code]

[2021-07-02 09:23] ankithans commented on #86
we can use map[string]bool for easy searching, instead of array.

[2021-07-02 10:24] dimakis commented on #110
+1 on the new proposed structure. This feels like it makes more sense. I think this should be done in its own PR ( my preference ) away from https://github.com/bf2fc6cc711aee1a0c2a/kas-fleet-manager/pull/433/ or at very least its own commit ( not my preference ).  It should make PR-433 easier to progress.

[2021-07-02 11:15] wtrocki opened #111 "Add contributing guide"
### Feature or problem description

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit the SDK and its users?

### Additional context

Add any other context like screenshots or mockups, if applicable.

[2021-07-02 11:16] wtrocki opened #112 "Add info about apache license to readme"
@aerogear/charmil-core
.

[2021-07-02 11:18] wtrocki commented on #112
@dimakis good issue for you

[2021-07-02 11:30] wtrocki opened #113 "Add Github actions build shield to readme"
Add github actions build shield on top of the readme

[2021-07-02 11:31] wtrocki opened #114 "Add discord chat shield on top of the readme"
Link: https://discord.gg/nAQBYZncvm

[2021-07-02 11:32] wtrocki opened #115 "Build diagram showing how charmil validator works"
Base off documentation for validator

[2021-07-02 11:33] wtrocki commented on #72
It will be most likely copy paste/inspired by: https://github.com/redhat-developer/app-services-cli/issues/346

[2021-07-02 11:34] wtrocki commented on #70
@namit-chandwani Please do not assign yourself to issues that you do not work on right now.
You cannot work on more than one issue at the time right ?

[2021-07-02 13:00] wtrocki opened #116 "examples rule validation"
Detect invalid examples by parsing command and string in example

Example problem:

https://github.com/redhat-developer/app-services-cli/issues/791

[2021-07-02 13:17] namit-chandwani commented on #70
Actually, I had researched a bit on this issue last week. But then I switched to the config storage one, once I realized that it had to be resolved before this.

But yes you're right, I should be assigning myself to only one issue at a time.
Will surely keep this in mind in the future :)

[2021-07-02 13:23] wtrocki commented on #70
Yes.. you have 2 issues in progress. This would be waiting for you as next task.
We have project where we can keep the backlog updated

https://github.com/aerogear/charmil/projects

[2021-07-02 14:50] wtrocki opened #117 "describe architecture in separate doc"
We need to describe architecture.in separate.doc:

- what is host cli
- what is plugin

Separate issue/PR please

_Originally posted by @wtrocki in https://github.com/aerogear/charmil/pull/108#discussion_r662543725_

[2021-07-02 14:59] jackdelahunt commented on #117
This is definitely needed I am constantly getting confused on what we are calling things but also what we are trying to achieve with this project.

[2021-07-02 15:45] ankithans commented on #110
Are you referring #105 ? Actually that PR was fixing a minor bug in the old structure, But as you see in this new structure, that change will not make any sense, hence no need to push that into main.

[2021-07-02 15:49] ankithans commented on #114
closed by #118

[2021-07-02 15:49] #114 closed

[2021-07-02 16:21] #112 closed

[2021-07-02 18:15] wtrocki opened #124 "Add go badge"
https://pkg.go.dev/github.com/aerogear/charmil

[2021-07-02 21:34] #113 closed

[2021-07-02 21:36] wtrocki opened #126 "Move logo to resourcesfolder and provide smaller cut out version for readme"
Self explanatory.
Leave original file unchanged

[2021-07-05 07:44] wtrocki opened #129 "Add docusaurus website with content from docs"
### Feature or problem description

We need clean documentation. No front page needed. No blog. Just documentation

https://docusaurus.io/

[2021-07-05 10:15] wtrocki opened #131 "Docs README/updates"
Charmil is

- Plugin system that enables developers to build complex multi repository clis

- Starter template that can be used to rapidly create new CLI

- Validator that runs during developent time that ensures that cli meets criteria set by host cli etc.

- Distribution/Registry of clis that can be dynamically embeded (This is currently suspended until we get first two)

TLDR?
Componetize and r

[2021-07-05 11:29] #131 closed

[2021-07-05 12:09] ankithans opened #133 "Fix lint errors generated by golangci-lint"

[2021-07-05 12:20] wtrocki commented on #133
Do you mind fixing it and also removing some examples code that is not relevant

[2021-07-05 14:23] ankithans commented on #133
let's remove date example that we have and add generic example

[2021-07-05 14:32] wtrocki commented on #133
Good idea.

[2021-07-05 15:46] wtrocki opened #134 "[Generic commands] Support for completion"
Copy implementation from:
 https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/completion/completion.go#L14:L14

[2021-07-05 15:48] wtrocki opened #135 "[Generic flags] Debug"
### Feature or problem description

See
https://github.com/redhat-developer/app-services-cli/blob/main/pkg/cmd/debug/flag.go#L3

[2021-07-05 15:53] wtrocki opened #136 "Extract documentation helpers into charmil core"
### Feature or problem description

See: https://github.com/redhat-developer/app-services-cli/blob/main/pkg/doc/adoc_docs.go#L15

[2021-07-05 16:09] #104 closed

[2021-07-05 16:09] #110 closed

[2021-07-05 16:09] #133 closed

[2021-07-05 16:27] wtrocki opened #138 "Add check for updates feature that uses github releases"

[2021-07-05 18:33] #90 closed

[2021-07-05 18:46] jackdelahunt commented on #138
Where would this be implemented as in how would we check this as a host or plugin.

[2021-07-05 18:49] #84 closed

[2021-07-05 19:00] #62 closed

[2021-07-05 19:02] ankithans opened #140 "Setup github pages for Docusaurus website"
- rename folder from `my-website` to `website`
- deploy on gh-pages

[2021-07-05 19:02] #88 closed

[2021-07-05 19:04] #107 closed

[2021-07-05 19:11] #64 closed

[2021-07-05 19:14] jackdelahunt opened #141 "Configure validation with a config file"
### Feature
Currently we building validation rules is very manual. Exporting this to a config file and then loading that data when we create the validator.
[code]

### Proposed solution
It would be nice to build this struct from a config file along the lines of  this example. To give users of charmil a higher level overview of the rules and make sharing and copying the rules easier.
[code]

### Ad

[2021-07-05 19:17] ankithans commented on #141
see the conversation here https://github.com/aerogear/charmil/pull/105
related?

[2021-07-05 19:22] jackdelahunt commented on #141
Yes but I can only see parsing a string of json rather then a whole config file. But this is essentially the exact thing this issue is about.

[2021-07-05 19:26] jackdelahunt commented on #141
All this issue is about is instead of parsing the json as we do from a string in the code. Load it from a file and parse that.

[2021-07-05 19:29] ankithans commented on #141
this is for the end user API? We can give them 2 functions, one accepting the config from json/yaml, other accepting from golang struct(already there)

[2021-07-05 19:32] jackdelahunt commented on #141
Yep pretty much. Instead of needing the construct the rule config from a struct you can use a config file instead.

[2021-07-05 19:39] wtrocki commented on #129
Reopened because we need to publish to gh-pahes.
If that is done feel free to close

[2021-07-05 19:40] wtrocki commented on #129
https://aerogear.github.io/charmil/

[2021-07-05 19:41] ankithans commented on #129
created new issue for that 😅, then we can close #140 or this

[2021-07-05 19:42] jackdelahunt commented on #141
Including Namit's pr we currently are loading resources from config files in two different places and with this it could be a third.
- [Localizer](https://github.com/aerogear/charmil/blob/main/core/localize/i18n.go#L52-L86)
- [Config loader](https://github.com/aerogear/charmil/pull/108/files?file-filters%5B%5D=.go&file-filters%5B%5D=.mod&file-filters%5B%5D=.sum&file-filters%5B%5D=.yaml&file-filter

[2021-07-05 19:49] wtrocki commented on #138
Example

https://github.com/redhat-developer/app-services-cli/blob/main/internal/build/build.go#L58

[2021-07-05 19:50] namit-chandwani commented on #141
Exactly, that is the plan.
Once my PR gets merged, I'll modify the other packages of core where config is involved and make them read/write from/to the single centrally maintained local config file

[2021-07-05 19:53] wtrocki commented on #129
My bad.

[2021-07-05 19:53] #129 closed

[2021-07-05 20:07] wtrocki commented on #141
FYI

Fist one is developent config for cli, second is for end users of cli. Different purposes.

As for json config, loaded from file ours struct does provide metadata for parsing so anyone can do it right now etc. We might add yaml metadata to support it as well

I'm proponent of strongly typed APIs that have one snd clear way to interact with logic. loading json from file or parsing string to st

[2021-07-05 20:13] wtrocki commented on #141
TLDR

I think that is good idea that can be done in some helper while our api still accept struct

[2021-07-05 20:34] jackdelahunt commented on #141
Cool will start this tomorrow then

[2021-07-05 21:36] #140 closed

[2021-07-06 06:34] ankithans opened #143 "Generate boilerplate starter with charmil commands"
As we will provide some starter examples to start developing, we may provide a CLI tool to generate a starter project/plugin instead of copying, just like cobra does.

[2021-07-06 09:19] wtrocki commented on #143
Good idea. I'm working on pulling out the bits for initial project structure. There are common elements that can be templated like:

- cmd name
- repository name
etc.

https://github.com/Apicurio/apicurio-cli

Will provide more info about this once I got something working soon. Full blown generation might be too much but we can figure out something that will allow us to swap values

[2021-07-06 11:08] namit-chandwani commented on #117
Resolved via PR: #132 ?

[2021-07-06 11:12] wtrocki commented on #117
Project description != architecture. This one is more to talk about API, SDK etc.. Usage. Some diagram. Getting started guide could be duplicate of it.

<img width="1458" alt="Screenshot 2021-07-06 at 12 12 08" src="https://user-images.githubusercontent.com/981838/124590742-67cbe680-de53-11eb-8d3b-bd0f5c08428b.png">

[2021-07-06 11:14] namit-chandwani commented on #117
Got it. Thanks!

[2021-07-06 18:29] #69 closed

[2021-07-07 06:33] wtrocki opened #148 "Move website/doc to doc folder"
Docs should be in root for people to look if they want.

Will require configuration changes in docusaurus

[2021-07-07 08:55] #86 closed

[2021-07-07 11:34] ankithans opened #149 "Pull pkg from starter to charmil core"
#145 gives us a starter project, in which many elements should be present in charmil core.

[2021-07-07 11:54] #109 closed

[2021-07-07 11:55] wtrocki commented on #149
It should be other way around (I think you meant that) - we should be removing things from starter and replace them with core SDK.

I already created issues for missing elements that are not on starter but can be in the core SDK and later integrated into starter

https://github.com/aerogear/charmil/issues/138
https://github.com/aerogear/charmil/issues/136
https://github.com/aerogear/charmil/issues

[2021-07-07 12:02] ankithans commented on #149
yep, we can do them one by one, this can be our current priority now

[2021-07-07 14:41] #124 closed

[2021-07-07 17:34] ankithans opened #151 "SkipChildren option not working in validator"
SkipChildren only works for root command, not for command path.
For eg. root command for rhoas-cli is `rhoas`. It works for this, but not for `rhoas kafka` (contains ..list, ..create etc)

[2021-07-07 18:05] wtrocki commented on #151
We need some basic unit tests to see this type of issues before we release.

[2021-07-07 18:10] ankithans commented on #151
actually right, this happened for more than 2 times, I can do this 👍

[2021-07-08 09:34] wtrocki commented on #151
This is also duplicate of removing examples. We rely on examples to test things. My take is that unit tests can have some very bare commands structures etc. thus giving better testing capabilities.

[2021-07-08 10:36] #149 closed

[2021-07-14 04:29] #116 closed

[2021-07-14 04:34] ankithans commented on #136
use cobra doc generator in starter

[2021-07-14 07:01] ankithans commented on #138
This feature should be included in starter, not from the core. correct me if wrong

[2021-07-14 08:54] #54 closed

[2021-07-14 08:54] #126 closed

[2021-07-14 08:54] #148 closed

[2021-07-14 09:10] ankithans commented on #134
need to provide as part of starter, not from core

[2021-07-14 09:11] #111 closed

[2021-07-15 14:23] ankithans commented on #115
is this understandable? open to modifications
![image](https://user-images.githubusercontent.com/50692897/125803970-d47313c8-0bb9-42e9-81aa-ec4367f21634.png)

[2021-07-15 15:24] #151 closed

[2021-07-15 15:42] ankithans commented on #68
duplicate of #85

[2021-07-15 15:42] #68 closed

[2021-07-19 07:56] ankithans commented on #143
Remove unnecessary feats from core and put them in starter. and Set up starter with Charmil core features
- Localization
- Autocompletion commands

[2021-07-20 03:56] ankithans opened #162 "Move Factory from core to starter"
Plugin needs it's own factory while development, and at the time of dev, we cannot pass host's factory instance to plugin. There can be these solutions:
- have different factories, no connections
- have different factories, plugin's factory to be override by host's factory instance automatically(essential attributes)

We may like to think a approach that will work for config management between plu

[2021-07-20 04:00] ankithans opened #163 "Update charmil_i18n docs"
i18n docs is outdated. One more concern - We may provide i18n wrapper from core, to avoid unnecessary boilerplate in the actual CLI. It will be only 4 lines of code if we include i18n wrapper in core. else it's 120 lines extra.

[2021-07-20 04:10] ankithans opened #164 "Create go templates for starter CLI"
This will include
- shell commands - cmd/CLI_NAME, pkg/cmd/root, etc
- License
- Contributing.md
- .gitignore
- .golangci.yaml
- .goreleaser.yaml
- Makefile
- Readme.md

.github, .githooks etc can be specific to repository, hence should not be our business.

[2021-07-20 04:13] ankithans opened #165 "Generate Starter with Charmil init command"
seeing how cobra does it, will make it simpler - https://github.com/spf13/cobra/tree/master/cobra
The templates made in #164 should be generated by charmil init CLI_NAME

[2021-07-20 04:18] ankithans opened #166 "Charmil add command"
charmil add CMD_NAME to add a shell command(using charmil core, etc) into CLI

[2021-07-20 05:58] namit-chandwani commented on #70
As discussed on chat yesterday, this feature is out of scope currently.
Moving this to Todo once again 😅

[2021-07-20 06:00] namit-chandwani commented on #163
I second this.
Apart from the factory-related issues (which will be resolved through #162), I don't see any problem in keeping the i18n package in core itself.

[2021-07-20 06:08] namit-chandwani commented on #164
Just confirming. This is blocked till we completely refine starter, right?

[2021-07-20 06:43] ankithans commented on #164
yes somewhat, let me do that in #155 with what we have. so we can proceed.
And templates can be updated, code for generating templates will be same

[2021-07-20 08:00] wtrocki commented on #70
@ankithans @namit-chandwani

I need to do some reaserch myself. Assigning

[2021-07-20 08:01] wtrocki commented on #164
I will recomend to not do it. If somehow we can avoid our code as templates then we can have starter useful without CLI/asembly.

Issue is correct we need that just not sure if go templates are right way to do it

[2021-07-21 06:11] ankithans commented on #164
let me explore this today!

[2021-07-21 06:11] #143 closed

[2021-07-21 08:03] ankithans opened #168 "Punctuation rule in Charmil validator"
As mentioned in https://github.com/redhat-developer/app-services-cli/issues/830, we can provide punctuation rule in validator. This issue is specific to full stops in flags description. But there can be multiple things like this. So let's grab the things we would like in punctuation rule.

[2021-07-21 08:54] namit-chandwani commented on #164
@ankithans So what do you think, should we include a `go.mod` file in this list too?
This way we will be able to force the starter to use our desired released version of core

[2021-07-21 08:57] ankithans commented on #164
idts, so steps will be -
- go mod init
- go install charmil
- charmil init ...
- charmil add ...

[2021-07-21 09:07] namit-chandwani commented on #164
Okay, I think that's what followed while using the Cobra starter too.

Cool, in that case we will need to make sure we update our templates every time we make any changes in `core`

[2021-07-21 09:44] wtrocki commented on #164
releases on starter will ensure this happening.

What charmil init and add do?

[2021-07-21 09:45] wtrocki commented on #164
Lets try to minimize number of template files and maximize what we have in shell

[2021-07-21 09:49] ankithans commented on #164
https://github.com/aerogear/charmil/blob/main/docs/src/charmil_cli.md

I think all the starter files will be templates 🤔. if we want to achieve above

[2021-07-21 09:53] ankithans commented on #164
similar to this: https://github.com/spf13/cobra/blob/master/cobra/tpl/main.go

[2021-07-21 10:03] wtrocki commented on #168
Awesome that you follow rhoas! Great issue

[2021-07-21 13:39] wtrocki commented on #164
Like init command. If we can do it fast lets do it.
Really like create/add command although as well.

[2021-07-23 08:38] #164 closed

[2021-07-23 08:38] #165 closed

[2021-07-23 13:29] wtrocki commented on #67
My take is we can have some separate issues that are more detailed or keep this issue opened until we have it fully done and tested. Fell free to close if you want to work with more granular issues

[2021-07-23 15:55] ankithans commented on #67
great!
@namit-chandwani let's create follow up issues as well, they really helps in progressing.

[2021-07-23 17:28] namit-chandwani commented on #67
Yes, so I'm listing down some of the possible issues:
- Generate locale file for CRUD commands
- Whenever the `crud` command is run, verify whether a CLI has already been initialized using the `charmil init` command.
- Set up config from core
- [Optional] Add Interactive prompt mode (Ref: https://github.com/aerogear/charmil/pull/171#discussion_r675034017)

Please feel free to suggest more :)
I'll

[2021-07-23 17:32] ankithans commented on #67
i think it should check if cli is there or not, not necessarily with charmil init, may be no need to check.

[2021-07-23 17:41] namit-chandwani commented on #67
I believe if we're using some core features like config, etc., allowing developers to use only the CLI generated using `charmil init` would be better.

But still I'm not 100% sure about this, will get to know better only once we proceed to work on these.

What is your take on this @wtrocki?

[2021-07-23 20:06] wtrocki commented on #67
We would not be able to do most of those without adding arguments to those commands

[2021-07-23 20:10] wtrocki commented on #67
Not sure I get how init matters here.
Init is just convininence method.
We have runnable starter app already right?

But charmil init just does setup starter and replaces cli name. We have starter in repo with all core already?
I need more context for this - possibly @ankithans can speak for the state we have.

We could have quick chat about it next week.

[2021-07-23 20:27] namit-chandwani commented on #67
Sure!
I'll just summarize the entire discussion for you till then.

Ankit: Prefers allowing developers to use their own CLI to run `charmil crud`

Me: Prefer restricting developers to use the CLI that we provide (starter). And this can be achieved by enforcing them to run `charmil init` before `charmil crud`

[2021-07-24 12:52] wtrocki commented on #67
Lets avoid building conflict in technical conversation.
What we have here is classical higly integrated dev vs less refined one.

I get we have some preferences but want to know why we want to restrict that. Technical reasons will be enough to get us there

[2021-07-24 13:00] ankithans commented on #67
Actually I moved starter to a new repo, under my username, can be moved to aerogear. https://github.com/ankithans/charmil-starter-template. What we have in core is integrated.
Not maintaining the starter folder that we have in repo.

Will make a Makefile in the template repo, to do the similar things done by `charmil init` after cloning the repo manually.

[2021-07-24 13:11] wtrocki commented on #67
Lets assume that what we have in repo is our current starter and discuss getting separate repo

[2021-07-24 13:18] namit-chandwani commented on #67
Actually, my primary take is to allow developers to only use our starter CLI with `charmil crud`.

And one of the ways to achieve this was by restricting them to run `charmil init` before `charmil crud`, which is why I mentioned it earlier (as through this approach we are ensuring that they're using the charmil starter CLI).

I'm open to any alternative ways to verify this.

The only thing I was c

[2021-07-24 13:38] wtrocki commented on #67
Ok

What this will achieve?
Init doesnt do anything that will affect crud command.
Nor changes much in template.

With all respect I think we overthinking things a bit and introduce confusion.
Lets not complicate things when not needed.

[2021-07-24 13:45] namit-chandwani commented on #67
Got it, thanks :)

[2021-07-26 06:31] namit-chandwani opened #174 "Set up config manager from core in CRUD generator"
### Feature or problem description

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit the SDK and its users?

### Additional context

Add any other context like screenshots or mockups, if applicable.

[2021-07-26 06:49] namit-chandwani opened #175 "Localize Charmil CRUD generator templates"
### Feature or problem description

Add a CRUD locale file template for generation (along with the CRUD command files).

[2021-07-26 06:50] namit-chandwani opened #176 "Provide config management feature in Charmil CRUD generator commands"
### Feature or problem description

Enable developers to manage config in their CRUD commands using the [Charmil Config Package](https://github.com/aerogear/charmil/tree/main/core/config).

[2021-07-26 06:50] namit-chandwani opened #177 "Add Interactive prompt mode to Charmil CRUD generator"
Low priority for now

### Additional context

https://github.com/aerogear/charmil/pull/171#discussion_r675034017

[2021-07-26 07:13] namit-chandwani commented on #174
Duplicate of https://github.com/aerogear/charmil/issues/176.
Created by mistake.
Closing

[2021-07-26 07:13] #174 closed

[2021-07-26 09:21] namit-chandwani opened #178 "Add flags to Charmil CRUD generator templates"

[2021-07-26 09:21] namit-chandwani opened #179 "Add validation for flags in Charmil CRUD generator templates"

[2021-07-27 09:36] wtrocki opened #180 "Invalid repository structure"
### Feature or problem description

We currently have number of components in the repo and using 2 mixed patterns:

pkg for root where we have CLI commands

specific folders like core.
I think pkg doesn't make sense in this case and we should use submodules for each component:

- Validator
- Core

We can use pkg and internal folders within those but that is not required.

[2021-07-27 09:46] wtrocki commented on #180
Additionally - makefile needs clenaup. It is messy - setting up some validation or lining only for some specific folders etc. (and adding more brings tons of issues) - was this intentional :) ?

[2021-07-27 09:46] wtrocki commented on #180
Team. Let's address that ASAP @aerogear/charmil

[2021-07-27 10:03] wtrocki opened #183 "Cleanup Core package"
### Feature or problem description

I have reviewed core package and it looks like what we have there is mostly non functional, undocumented or outdated.
Removing entire core at this point will result in no los in the value.

What we should do:

- Review every folder we have there
- Remove factory (as we agreed that factory is starter artifact not core artifact)
- Fix config - config is key for us

[2021-07-27 10:03] wtrocki commented on #183
CC @aerogear/charmil

[2021-07-27 10:04] wtrocki commented on #183
I will create separate issue for config

[2021-07-27 10:09] wtrocki opened #184 "Core config feature is not working as expected."
### Feature or problem description

I have been playing with the config and it looks like it is not working as it should.

Config is not properly strongly typed:

[code]

Config should provide interface for load and save where save and load triggered from the plugin will actually execute top level save and load functions and return proper results. Go doesn't support generics but what we really nee

[2021-07-27 10:10] #168 closed

[2021-07-27 10:10] namit-chandwani commented on #184
I'll look into this

[2021-07-27 10:12] namit-chandwani commented on #184
I'll look into it

[2021-07-27 16:22] #178 closed

[2021-07-27 16:22] #175 closed

[2021-07-28 08:36] ankithans opened #215 "Create makefile for setup"
just like what `charmil init` does with the command, we would like to achieve that with a makefile rule! Then this repo can even be served as template repository.

[2021-07-28 11:41] wtrocki opened #189 "CRUD fails if folder doesn't exist."
## Description

[code]

Can we create folder?

[2021-07-28 11:44] wtrocki opened #190 "Language file is dropped in random directory"
## Description

CRUD creates language file in random directory. (IMHO it should be part of the same folder - I can move things later)
Language file is not using name of the object we create nor name is used in the strings making entire generation unusable and pointless.
Source code is referencing generic names - it is not possible to generate entire content twice.

[2021-07-28 11:46] ankithans opened #191 "Document repository structure in contributing.md"

[2021-07-28 11:48] wtrocki commented on #191
You not going to get your PR merged without docs. Closing.

Docs first remember!
We are burning lots of review cycles because rapidly coding things without validation that can be done by looking at docs.

[2021-07-28 11:48] #191 closed

[2021-07-29 09:11] #189 closed

[2021-07-29 09:16] namit-chandwani commented on #190
I've made this change. Creating a PR for it shortly.

Actually, the way it works right now is that our code searches the entire CLI project for a `locales` directory and then generates the language file over there (ie. in `locales/en`). This eliminates the need for the user to relocate the file elsewhere. So won't it be better if we keep it this way?

Please correct me if I'm wrong :)

[2021-07-29 09:32] #180 closed

[2021-07-29 09:33] wtrocki commented on #190
I would add flag for language files directory. If not specified it uses current folder. No magic search.

[2021-07-29 09:35] namit-chandwani commented on #190
Sounds good, will follow this

[2021-07-30 09:12] ankithans commented on #183
yeah, we don't have much in core

logging - functioning
color - functioning - used with logger  `f.Logger.Infof(color.Success("lorem ipsum"))`
localize - functioning as wrapper

iostreams - kinda non-functional - in, out streams are used
config - will be fixed

[2021-07-30 09:43] #190 closed

[2021-07-30 09:49] wtrocki commented on #183
we can... Keep core untouched but non functional. Keep investing in starter (Which we do) and gradually improve state of the core with right packages.

[2021-08-02 04:50] ankithans opened #196 "Number of lines in flags"
check the number of lines of flags usage - it should be 1.

[2021-08-02 04:53] ankithans opened #197 "Feature to disable a validation rule"
User should be able to disable a rule, by passing a boolean "enable". Default set to true.

### Current
[code]
### Proposed
[code]

[2021-08-02 06:17] #134 closed

[2021-08-02 06:57] #136 closed

[2021-08-02 08:14] #162 closed

[2021-08-02 14:31] namit-chandwani opened #199 "Templates generated using Charmil CLI break due to failed factory import"
## Description

As soon as the factory was moved from core to starter, the templates generated using Charmil CLI (both by `init` and `crud` commands) started to break, since factory is placed in an `internal` directory of the charmil repo and hence the generated templates are not able to import it.

## Logs
[code]

## Possible Solutions
- Move factory out of the `internal` directory

[2021-08-02 20:28] wtrocki commented on #199
Ack.

[2021-08-03 10:36] ankithans commented on #199
@namit-chandwani i tested it in starter and I didn't faced any issue. Just imports are incorrect.
`import github.com/aerogear/charmil/cli/internal/factory` -> `import github.com/aerogear/charmil/starter/internal/factory`

[2021-08-03 10:38] ankithans commented on #199
Looks everything works fine..

<img width="258" alt="Screenshot 2021-08-03 at 4 07 02 PM" src="https://user-images.githubusercontent.com/50692897/128002064-46515bc6-2105-4f5e-a7fa-61ea165eff6b.png">

[code]

[2021-08-03 10:40] ankithans commented on #199
and one issue @namit-chandwani can you change the name of crud locales file. It is `crud.en.yaml`, but it should be `kafka.en.yaml` or `kafka.crud.en.yaml`. wdyt?

[2021-08-03 11:01] wtrocki commented on #199
@ankithans I hate to correct you but reason it works is that both are in the same repo which will not be the case when charmil is used as released artifact. Plase change starter to use releases rather than content from repo if possible

[2021-08-03 14:25] ankithans commented on #199
I got the issue now, starter already using charmil released version.
Need to update starter imports from github.com/aerogear/charmil/core/factory -> github.com/org/cliname/internal/factory

And we would need to change the template imports here -> https://github.com/aerogear/charmil/blob/main/cli/internal/template/crud/create/create.go#L6

current-
"github.com/aerogear/charmil/cli/internal/factory"

[2021-08-03 16:52] ankithans commented on #196
This doesn't seem feasible now. As this can be the case -
`This is a example G.T.A. flag` Number of lines will not depend on full stop.

Please reopen if some idea strikes.

[2021-08-03 16:52] #196 closed

[2021-08-03 17:04] ankithans commented on #197
I found two approaches to do this -
- Stop rule from executing from RuleExecutor(means donot add the particular rule into rules array to execute)
- add rules to executor; execute the rule and inside each rule check if it is disabled - return empty errors.

I think first one is good? Need suggestions @aerogear/charmil

[2021-08-03 17:21] namit-chandwani commented on #199
@ankithans Yeah I saw you fixed this part through PR #201 now. Good work on that!
&nbsp;

TBH even I had thought of this workaround yesterday, but the fact that it leads to a few compilation errors is what stopped me from implementing it back then.

I know you tried doing the same thing in the `charmil-starter` repo (ie. using placeholders in import paths) and it worked as expected. But I believe

[2021-08-03 17:37] wtrocki commented on #199
@namit-chandwani Lets do it. @ankithans will need to dissagree with us after we merge :)

[2021-08-03 21:55] jackdelahunt commented on #197
So what your saying in option 1 is to check before we add all of the rules [here](https://github.com/aerogear/charmil/blob/main/validator/rules/config.go#L84-L91)?  If this is where you are thinking about I would maybe suggest option 2 as option 1 feels like it is hidden away and is not an obvious place where we do that check.

Option 2 which should just need an edit to this for loop [here](https:

[2021-08-04 04:12] wtrocki commented on #197
option 1

[2021-08-04 08:55] ankithans commented on #197
here it cannot be done, as rule interface only has validate method, no access to RuleOptions. Let's go with option 1

[2021-08-04 09:41] #197 closed

[2021-08-04 09:56] ankithans commented on #199
definitely it will give errors, we can keep it string byte, non compilable. I think we cannot keep it as code as factory import needs to changed according to the project.

if we move factory from internal to pkg, still templates are importing/using charmil CLI's factory. We have removed factory from the core :) so it should be using it;s own project's factory right?

@namit-chandwani can you creat

[2021-08-04 17:40] namit-chandwani commented on #199
@ankithans Agreed! I got your point now.
The method I proposed (i.e. moving factory out of internal) would no longer work as the factory was moved from core to starter because we wanted plugins to have their own factory instance, and using direct imports from the charmil repo would be the same as importing it from core, which would be defeating the entire purpose of moving it to starter.

Yes, I h

[2021-08-04 20:02] wtrocki commented on #199
You type a lot :)

TL;DR `mv whatever.go whatever.tmpl`

Those are not source files but templates
https://pkg.go.dev/text/template

[2021-08-04 20:32] namit-chandwani commented on #199
My bad, I had misunderstood this comment: https://github.com/aerogear/charmil/pull/171#discussion_r675128751

Sure, will do this. Thanks!

[2021-08-05 11:41] #138 closed

[2021-08-05 13:37] #141 closed

[2021-08-06 09:16] #179 closed

[2021-08-06 22:33] jackdelahunt opened #206 "Auto-generated links to source from Charmil docs are broken"
## Description
On each page of the charmil documentation, there is an auto-generated link labeled `Edit this page` this link is broken.

### Steps to reproduce

Add the steps required to reproduce this error.

1. Go to [this page](https://aerogear.github.io/charmil/docs/)
2. Scroll down to the bottom of the page
3. Click `Edit this page`
4. Page is not found

### Expected vs actual behavior
When f

[2021-08-07 06:38] #199 closed

[2021-08-08 12:49] ankithans commented on #177
@namit-chandwani i think it is not required. we can close this wdyt?

[2021-08-08 12:56] #177 closed

[2021-08-08 13:12] ankithans opened #208 "Extract common elements from charmil cli"
crud, add, even init commands are similar, hence there can be some common functions, like applying templates. We can extract them in `internal/common` directory.

[2021-08-08 15:54] #163 closed

[2021-08-08 21:46] wtrocki commented on #208
#premature optimalization.

[2021-08-09 06:33] namit-chandwani commented on #177
Any particular reason for the same?

I believe this will be a useful addition that can be implemented at a later stage :)

Like we can add an `interactive` flag to the charmil crud command and whenever the `interactive` flag is set, the generated CRUD commands will have the interactive mode enabled.

#### Example:
[code]

WDYT?

[2021-08-09 08:42] wtrocki commented on #177
Not needed.

[2021-08-09 08:47] #67 closed

[2021-08-09 08:47] #71 closed

[2021-08-09 08:48] wtrocki commented on #115
@ankithans Please add this to the website/docs

[2021-08-09 08:48] wtrocki commented on #73
This is epic that is outside the scope of the GSOC for now

[2021-08-09 08:49] wtrocki commented on #85
Progress update

[2021-08-09 08:49] #166 closed

[2021-08-09 08:49] #208 closed

[2021-08-09 08:52] wtrocki commented on #176
Whatever this is is should be done in initial PR. Without much details all I can do is to close it.

[2021-08-09 08:52] #176 closed

[2021-08-09 08:53] #135 closed

[2021-08-09 08:53] wtrocki commented on #184
What is the status of this?

[2021-08-09 08:55] wtrocki commented on #206
Done. No edit is possible :P

[2021-08-09 08:55] #206 closed

[2021-08-09 08:56] wtrocki commented on #65
Done by Ankit. Obviously @namit-chandwani and @ankithans you are welcome to have follow up but we have already good start!

[2021-08-09 08:56] #65 closed

[2021-08-09 08:58] wtrocki commented on #117
Closing. Since there is no strong architecture patterns and we moved to starter architecture is not worth documenting deeply. What we have is good

[2021-08-09 08:58] #117 closed

[2021-08-09 09:31] wtrocki opened #210 "Charmil starter should be automatically updated when changes in the repo"

[2021-08-09 09:38] wtrocki opened #211 "Validator should be used in the RHOAS CLI without ignoring rules."
### Feature or problem description

[2021-08-09 09:40] wtrocki opened #212 "Bash completion in the core."
### Feature or problem description

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit the SDK and its users?

### Additional context

Add any other context like screenshots or mockups, if applicable.

[2021-08-09 09:41] wtrocki opened #213 "Core should have folders representing different roles"
- utils
- commands (will be empty right now but can land completions)
- config

[2021-08-09 09:56] wtrocki opened #214 "Auto publish website from main."

[2021-08-09 10:00] wtrocki opened #216 "Review and update documentation"
We should update/remove things like factory.

[2021-08-09 10:13] wtrocki opened #217 "Verify charmil CLI end to end"
We need some fresh eyes to verify current state of the CLI.

Before we do that we need:

- Minimal documentation how and what CLI does
- Latest CLI released.
- Then we can ping other mentors to try it out and give feedback.

[2021-08-09 14:34] wtrocki opened #218 "Examples builder that provides base command instead of specifying command as string etc."
### Feature or problem description

Provide examples string builder that provides ability to generate full example string of the command and append to existing examples.
This will prevent typos and ensure standard way to build command examples - description + command + some extra flags etc.

## Example

[code]

can be done using builder
[code]

[2021-08-09 14:46] wtrocki commented on #218
This can be also used as form of acceptance testing of commands etc.

[2021-08-09 16:13] namit-chandwani commented on #72
@wtrocki Have we completely scrapped this feature or is this just out of scope for now?

[2021-08-09 16:21] wtrocki commented on #72
We going to implement that by environment variable and it will be simple check
This was controversial from beginning :D

[2021-08-09 16:21] #72 closed

[2021-08-10 09:16] ankithans commented on #213
assigning

[2021-08-10 10:07] ankithans opened #220 "Missing docs for iostreams, color"
Add user documentation for core/utils/iostreams and core/utils/color.

[2021-08-10 10:54] ankithans commented on #218
great idea!!

[2021-08-10 10:58] ankithans commented on #212
completion commands should be localised? if yes, then it's a problem. It will need to use factory which is now in starter.

[2021-08-10 11:09] wtrocki commented on #212
No need. We giving localization to users but our commands can be non localized at the moment

[2021-08-10 11:19] wtrocki opened #221 "Add scripting for releasing to starter"
No changes to charmil starter. Let's build script that will do something like this:

[code]

_Originally posted by @wtrocki in https://github.com/aerogear/charmil/issues/219#issuecomment-895945440_

[2021-08-10 11:25] namit-chandwani commented on #210
Duplicate of #221?

[2021-08-10 11:31] wtrocki commented on #210
Create script vs automate using github actions

[2021-08-10 11:36] #115 closed

[2021-08-10 11:36] #183 closed

[2021-08-10 11:36] #213 closed

[2021-08-10 20:07] wtrocki opened #222 "Ability to save command log/history"
We need ability to get history from user file for debugging and checking what caused issues.

[2021-08-11 05:18] ankithans commented on #222
so whatever command user executes, store the logs(input/output) in a file. And whenever needed show it?
we can have some format datetime wise.

[2021-08-11 08:41] wtrocki commented on #222
Like bash history but specific to your CLI (Or even some subcommand to your CLI (can be stored independently from config file)

[2021-08-11 09:20] #218 closed

[2021-08-11 09:49] wtrocki opened #224 "Validator Rule - Provide rule for validating flag name"
For example format of the flag, the name should be camelcase, kebab case etc.

[2021-08-11 09:54] wtrocki commented on #224
Examples of 2 different

[code]

[2021-08-11 09:54] ankithans commented on #224
can go into punctuation rule - we can give option to choose from - camelcase, kebabcase, snakecase etc. for the whole CLI, they can choose whatever they prefer in the cli.

[2021-08-11 09:59] wtrocki commented on #224
or regexp :)

[2021-08-11 22:32] jackdelahunt commented on #216
This is a big one for me atleast, the docs seem to be falling behind the project. This also makes it difficult as a contributor if you are trying to learn how a new feature works and there is no documentation for it.

One of the examples for me is `starter` no sure if there is docs but I couldn't find them but if so please link me as I need a read up else we should try get that up and running.

[2021-08-12 08:44] wtrocki commented on #216
Yes. I feel that this is what guys are working right now by building those examples and documenting experience.

@ankithans is that the case?

[2021-08-12 08:47] ankithans commented on #216
yes @wtrocki, want to discuss again - Shall I grab a service from rhoas in charmil-host-example and one service in charmil-plugin-example? Or should I create some basic examples to show host interacting with plugin.

[2021-08-12 09:01] wtrocki commented on #216
We discussed that and I went thru benefits of both approaches (using rhoas will get you instant code but some challenges), doing your own will require more time. My preference will be to use rhoas as example so host CLI can be RHOAS source code that is pushed to the host... and then plugin can be number of commands taken out of the host CLI.

Charmil is already in the repo so this will reduce amou

[2021-08-12 09:03] wtrocki commented on #216
@ankithans let me know if you need quick sync

[2021-08-12 09:06] ankithans commented on #216
clear & sorted.

charmil-host-example : rhoas
charmil-plugin-example : apicurio

[2021-08-12 09:10] wtrocki commented on #216
With apicurio being - `rhoas service-registry artifacts`

[2021-08-12 14:52] ankithans opened #225 "Migrate rhoas CLI to use Charmil"
In https://github.com/aerogear/charmil-host-example, it needs to use charmil overall.
- localizer
- config - @namit-chandwani working rn on improving
- logger, iostreams, color
- autocompletion commands - #212
- example_builder
- validator

[2021-08-12 14:56] ankithans opened #226 "Update appicurio cli in charmil-plugin-example"
similar to #225
appicurio - service-registry artifacts

[2021-08-12 14:58] ankithans opened #227 "Use charmil-plugin-example in charmil-host-example"
Use appicurio as plugin in rhoas. And detect the issues.
With apicurio being - rhoas service-registry artifacts

[2021-08-13 16:10] wtrocki opened #228 "Refactor validator section in docs/website"
Each rule should be their own chapter in side bar

[2021-08-13 16:11] wtrocki commented on #228
.website/sidebars file has chapters.
See docs/validator.md for single page doc to refactor

[2021-08-13 16:14] wtrocki commented on #228
Website uses docusarus system

[2021-08-13 17:12] namit-chandwani opened #229 "Update broken link in intro docs"
## Description

The link in the [intro.md#documentation](https://github.com/aerogear/charmil/blob/main/docs/src/intro.md#documentation) section is outdated.
Need to replace that with the correct path to docs ie. https://aerogear.github.io/charmil/docs/.

[2021-08-14 00:14] #229 closed

[2021-08-14 12:31] ankithans commented on #225
copying all the code and then migrating was not a good idea, it will take ages to fix those errors. Will be writting initial stuff on my own and then picking rhoas module by module.

[2021-08-14 18:05] wtrocki commented on #225
Just seen it. What code to where? Maybe you want sync on approach?

[2021-08-14 18:09] wtrocki commented on #225
What we should do

1) Push rhoas apicurio-cli branch to host with all commits etc.
2) Push the same codebase to plugin

3) Remove service-registry commands from host

4) Remove everything else than service registry commands from plugin

5) Sprinkle with charmil

6 Integrate and call it done :)

[2021-08-14 18:15] wtrocki commented on #225
Hope that clarifies things

[2021-08-18 03:37] namit-chandwani opened #234 "Refactor CLIs in example repos to use Charmil Core packages"
Refactor CLIs in repos: https://github.com/aerogear/charmil-host-example and https://github.com/aerogear/charmil-plugin-example, to use the Charmil Core packages.

[2021-08-18 06:55] wtrocki commented on #234
What packages specifically?

[2021-08-18 06:56] namit-chandwani commented on #234
Already did all packages (except config) through this PR: https://github.com/aerogear/charmil-host-example/pull/2
Now creating a separate PR for config package

[2021-08-18 07:14] wtrocki commented on #234
Awesome!

[2021-08-18 07:42] namit-chandwani opened #235 "Add debugging functionality to logger"
### Feature or problem description

In core, the current version of the [logging](https://github.com/aerogear/charmil/tree/main/core/utils/logging) package doesn't have separate methods for debugging.

This can be a useful addition for the future.

[2021-08-18 12:06] Harshal0902 opened #236 "Some typing error and grammatical errors in README.md file"
There are some typing error and grammatical errors in README.md file, such as spelling of **overridden** is written as **overriden**, **embedded** is written as **embeeded** etc.

[2021-08-18 12:24] #236 closed

[2021-08-23 14:32] namit-chandwani commented on #211
Already resolved via PR: https://github.com/redhat-developer/app-services-cli/pull/894.
Closing this now

[2021-08-23 14:32] #211 closed

[2021-08-23 14:33] namit-chandwani commented on #234
This has been resolved already. Closing it now

[2021-08-23 14:33] #234 closed

[2021-08-24 17:53] #225 closed

[2021-08-24 17:54] #226 closed

[2021-08-24 17:55] #227 closed

[2021-08-24 17:55] #66 closed

[2021-08-28 15:32] namit-chandwani opened #238 "Add tests for packages in core utils"
## Description
Need to add tests for packages in the utils component of Charmil core

[2021-08-28 15:46] namit-chandwani opened #239 "Modify charmil init command to replace text using regex instead of placeholders"
Related to issue #240
## Description
The `charmil init` command uses templates and placeholders present in the [charmil-starter](https://github.com/aerogear/charmil-starter) repo to generate a starter project, which makes the `charmil-starter` repo unusable without the init command (ie. users cannot clone and use it directly).

As discussed earlier, we need the charmil init command to use regex fo

[2021-08-28 15:47] namit-chandwani opened #240 "[Starter] Replace charmil-starter repo with contents of Starter from this repo"
Related to issue #239
## Description

The [charmil-starter](https://github.com/aerogear/charmil-starter) repo cannot be cloned and used directly by the users at this moment, since it contains templates and placeholders to work in integration with the `charmil init` command. And that makes it different from the starter present in this repo and unusable without the charmil init command.

Our aim is

[2021-08-30 07:13] namit-chandwani commented on #55
Assigning myself

[2021-08-30 08:43] #215 closed

[2021-08-31 15:58] #55 closed

[2021-09-01 07:43] namit-chandwani commented on #239
Assigning myself

[2021-09-09 18:28] #239 closed

[2021-09-10 20:50] #240 closed

[2021-09-13 10:07] kadel opened #246 "`charmil init` generates broken git repo"
## Description

Git repository created by `charmil init` has broken index.

### Steps to reproduce
- `charmil init`
- `git status`

### Expected vs actual behaviour

[code]

[2021-09-13 10:15] wtrocki commented on #246
Thank you for reporting issue. I think we should not generate .git repository.

@ankithans this is probably due to using our template repo. I guess we can simply remove .git folder.

[2021-09-13 10:22] ankithans commented on #246
yes, after cloning - we can remove .git folder. Will fix it.

[2021-09-13 11:11] #246 closed

[2021-09-25 16:29] ankithans commented on #222
we may provide "history" command from core ```CLI_NAME history``` which can be imported in a CLI, which will return all the commands executed before. Can add argument for number of items in history to be shown.
`history 5`
`history delete` and many other options....

I think, we should store the output of the executed command as well.

Is this really a good first issue 😅

[2021-09-26 05:16] wtrocki commented on #222
That was never intended to be user facing - as user have bash history for that. We have implemented analytics in rhoas but that requires asking user for permission. I would recommend to close this

[2021-09-26 05:16] #222 closed

[2021-09-30 20:17] namit-chandwani opened #248 "Add Command Registry feature to Charmil"
## Feature description

- The Charmil Command Registry can allow developers to create an external index of CLIs that can be dynamically installed and integrated into their host CLI.

[2021-09-30 20:18] namit-chandwani commented on #248
Assigning myself.
I'll do some research on it first and then create a Github discussion soon, where we can discuss how we want to proceed with this

CC: @wtrocki